.apply {
  display: flex;

  @include big-tablet {
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 54px;
    max-width: 460px;
    background-color: var(--dolly-color);

    @include big-tablet {
      max-width: 100%;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 34px;
    max-width: 307px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: var(--black-color);

    @include big-tablet {
      max-width: 100%;
      text-align: center;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    max-width: 307px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: var(--black-color);

    @include big-tablet {
      margin-bottom: 30px;
      max-width: 100%;
      text-align: center;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__btn {
    margin-top: auto;
    padding: 29px 60px;
    max-width: 100%;
    font-size: 22px;
    font-weight: 700;

    @include mobile {
      padding: 16px;
    }
  }

  &__image {
    display: block;

    @include big-tablet {
      width: 100%;
    }
  }
}
