.benefits {
  position: relative;
  padding: 250px 0 150px;
  background-color: var(--accent-color);

  @include mobile {
    padding-top: 120px;
  }

  &__decor {
    position: relative;
    padding: 72px 0;
    margin-bottom: 72px;

    @include big-tablet {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url(../img/benefits-main-bg1.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url(../img/benefits-main-bg2.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__image {
    margin: 0 auto;
    display: block;
  }

  &__picture {
    &::after {
      content: "";
      position: absolute;
      width: 276px;
      height: 276px;
      border: 1px solid var(--black-color);
      background-color: var(--gray-color);
      z-index: 2;
    }

    @include tablet {
      &::after {
        width: 200px;
        height: 200px;
      }
    }

    @include small-tablet {
      display: none;
    }

    &--one {
      &::after {
        top: 20px;
        left: 20px;
        transform: rotate(10deg);
      }
    }

    &--two {
      &::after {
        bottom: -20px;
        right: 40px;
        transform: rotate(-13deg);
      }
    }
  }

  &__photo {
    position: absolute;
    width: 276px;
    height: 272px;
    border: 1px solid var(--black-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 13;

    @include tablet {
      width: 200px;
      height: 200px;
    }

    @include small-tablet {
      display: none;
    }

    &--one {
      top: 0;
      left: 40px;
      transform: rotate(12deg);
    }

    &--two {
      bottom: 0;
      right: 20px;
      transform: rotate(-12deg);
    }
  }

  &__text {
    position: absolute;
    margin: 0;
    padding: 30px;
    max-width: 218px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.36px;
    border-radius: 100%;
    border: 1px solid var(--black-color);
    background-color: var(--dolly-color);
    color: var(--black-color);
    z-index: 1;

    @include mobile {
      max-width: 100%;
      padding: 15px;
      font-size: 16px;
    }

    &--place {
      top: 0;
      right: 100px;
      transform: rotate(-6deg);

      &::after {
        content: "";
        position: absolute;
        top: -50px;
        right: 300px;
        width: 79px;
        height: 82px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
        z-index: -1;
      }

      &::before {
        content: "";
        position: absolute;
        top: 110px;
        right: 0px;
        width: 36px;
        height: 36px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
        z-index: -1;
      }

      @include mobile {
        right: 0;

        &::after {
          display: none;
        }

        &::before {
          top: 0;
        }
      }
    }

    &--adress {
      bottom: 0;
      left: 100px;
      transform: rotate(6deg);

      &::after {
        content: "";
        position: absolute;
        bottom: 200px;
        left: -125px;
        width: 36px;
        height: 36px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
        z-index: -1;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 300px;
        width: 59px;
        height: 61px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
        z-index: -1;
      }

      @include mobile {
        left: 0;

        &::after {
          left: 0;
          bottom: 0;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  &__list {
    margin-bottom: 140px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    grid-column: 4 span;
    max-width: 453px;
    height: 100%;
    border: 1px solid var(--black-color);
    background-color: var(--dolly-color);

    @include tablet {
      grid-column: 6 span;
      max-width: 100%;
    }

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__descr {
    @include flex-all-center;

    flex-grow: 1;
    margin: 0;
    padding: 100px 50px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: var(--black-color);
  }

  &__apply {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 200px;
      left: -200px;
      width: 178px;
      height: 213px;
      background-image: url(../img/services-decor-4.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: 7s linear 0.3s infinite forwards elemRotate;
    }
  }
}
