.contacts {
  padding: 150px 0 70px;
  background-color: var(--accent-color);

  @include tablet {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 64px;
    color: var(--dolly-color);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__top {
    @include flex-all-sb;

    margin-bottom: 54px;

    @include tablet {
      margin-bottom: 30px;
      flex-direction: column;
    }
  }

  &__location {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: var(--black-color);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__sity {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: var(--black-color);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__connection {
    display: flex;
    align-items: center;
    gap: 33px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__link {
    display: block;
    padding: 28px 67px;
    border-radius: 149px;
    max-width: 282px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: var(--black-color);
    background-color: var(--wildsand-color);
    transition: background-color 0.3s ease;

    &:focus {
      outline: 2px solid var(--dolly-color);
      outline-offset: 4px;
    }

    @include hover {
      background-color: var(--dolly-color);
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__btn {
    &:focus {
      outline: 2px solid var(--dolly-color);
      outline-offset: 4px;
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__info {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__left {
    margin-right: 20px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__image {
    margin-bottom: 26px;

    @include tablet {
      width: 100%;
    }
  }

  &__street {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: var(--black-color);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__map {
    margin-bottom: 26px;
    max-width: 964px;
    min-height: 400px;

    @include tablet {
      max-width: 100%;
    }

    [class*="copyrights-pane"] {
      display: none !important;
    }

    .ymaps-2-1-79-copyright__logo {
      display: none !important;
    }
  }

  &__timetable {
    margin: 0;
    max-width: 210px;
    font-size: 20px;
    font-weight: 400;
    color: var(--black-color);
  }

  &__days {
    display: inline-block;
  }
}
