.franchise {
  padding: 128px 0 147px;
  background-color: var(--dolly-color);

  @include tablet {
    padding: 60px 0px;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 26px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: var(--black-color);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 156px;
      height: 162px;
      background-image: url(../img/franchise-decor1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: 7s linear 0.3s infinite forwards elemRotate;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(50%);
      width: 236px;
      height: 245px;
      background-image: url(../img/franchise-decor2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: 7s linear 0.3s infinite forwards elemRotate;
      z-index: -1;
    }

    @include tablet {
      &::before {
        width: 100px;
        height: 100px;
      }

      &::after {
        width: 150px;
        height: 150px;
      }
    }

    @include mobile {
      &::before {
        width: 50px;
        height: 50px;
      }

      &::after {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__logo {
    display: block;
    margin-bottom: 70px;

    .logo__image {
      position: relative;
      margin: 0 auto;
      z-index: 1;
    }
  }

  &__descr {
    position: relative;
    margin: 0 auto;
    padding: 40px 60px;
    max-width: 673px;
    transform: translateY(-100px);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 143.4%;
    letter-spacing: 0.72px;
    background-color: var(--accent-color);
    color: var(--black-color);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100px;
      width: 129px;
      height: 134px;
      background-image: url(../img/franchise-decor2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: 7s linear 0.3s infinite forwards elemRotate;
      z-index: -1;
    }

    @include tablet {
      &::before {
        left: 0;
        width: 100px;
        height: 100px;
      }
    }

    @include small-tablet {
      margin-bottom: 30px;
      padding: 20px 30px;
      max-width: 100%;
      font-size: 24px;
      transform: none;

      &::before {
        width: 50px;
        height: 50px;
      }
    }

    @include mobile {
      padding: 20px;
      font-size: 20px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    max-width: 469px;
    padding: 29px 60px;

    @include mobile {
      max-width: 100%;
      font-size: 16px;
      width: 100%;
      padding: 16px;
    }
  }
}
