.header {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: var(--light-color);

  &__top {
    @include flex-all-sb;

    margin-bottom: 40px;
  }

  &__list {
    @include flex-all-center;
  }

  &__item {
    @include mr(10px);
  }

  &__link {
    display: block;

    svg {
      width: 18px;
      height: 18px;
      object-fit: cover;
    }

    &--vk {
      width: 20px;
      height: 20px;
    }
  }

  &__phone {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--black-color);
  }

  &__offer {
    display: block;
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 33px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    border-radius: 50px;
  }
}
