.nav {
  &__list {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    @include mr(35px);

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--black-color);

    @include mobile {
      @include mr(0);

      @include mb(20px);
    }
  }

  &__link {
    @include flex-all-center;

    padding: 10px 24px;
    border: 1px solid var(--black-color);
    border-radius: 40px;
    background-color: transparent;
    color: currentColor;
  }
}
