.reviews {
  position: relative;
  padding-top: 160px;
  background-color: var(--dolly-color);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100px);
    width: 100%;
    height: 200px;
    background-image: url(../img/reviews-bg-1.svg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../img/reviews-bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__list {
    margin-bottom: 80px;
  }

  &__item {
    position: relative;

    @include mr(20px);

    @include mb(20px);

    padding: 50px;
    max-width: 450px;
    width: 100%;
    background-color: var(--accent-color);

    &:nth-child(4) {
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 78px;
        height: 84px;
        background-image: url(../img/services-decor-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        animation: 3s linear 0.3s infinite forwards elemRotateTopLeft;
      }
    }

    &:nth-child(5) {
      &::after {
        content: "";
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 129px;
        height: 152px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
      }
    }
  }

  &__content {
    position: relative;
    padding-top: 214px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: var(--black-color);
    background-repeat: no-repeat;
    background-size: 164px 164px;
    background-position: top center;
  }

  &__descr {
    margin: 0;
    margin-bottom: 25px;
  }

  &__info {
    text-align: center;
  }

  &__text {
    margin: 0 auto 5px;
    max-width: 680px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: var(--black-color);
  }

  &__logo {
    display: block;
    margin-bottom: 33px;

    .logo__image {
      margin: 0 auto;
    }
  }

  &__image {
    display: block;
    max-width: 268px;
    height: 292px;
    border: 1px solid var(--black-color);
  }

  .swiper {
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  &__slider {
    max-width: 268px;
    transform: translateY(80px);
  }

  .swiper-slide {
    max-width: 268px;
  }
}
