.reviews {
  position: relative;
  padding-top: 160px;
  background-color: var(--dolly-color);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100px);
    width: 100%;
    height: 200px;
    background-image: url(../img/reviews-bg-1.svg);
    background-size: cover;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../img/reviews-bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
  }

  @include mobile {
    padding-top: 80px;

    &::before {
      background-size: 800px 800px;
    }
  }

  &__title {
    margin-bottom: 64px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__list {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__item {
    display: flex;
    position: relative;
    grid-column: 4 span;
    padding: 50px;
    max-width: 450px;
    background-color: var(--accent-color);

    @include big-tablet {
      max-width: 100%;
      grid-column: 6 span;
    }

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      padding: 25px;
    }

    &:nth-child(4) {
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 78px;
        height: 84px;
        background-image: url(../img/services-decor-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        animation: 3s linear 0.3s infinite forwards elemRotateTopLeft;
      }
    }

    &:nth-child(6) {
      &::after {
        content: "";
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 129px;
        height: 152px;
        background-image: url(../img/services-decor-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        animation: 7s linear 0.3s infinite forwards elemRotate;
      }

      @include mobile {
        &::after {
          bottom: 0;
          left: 200px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-top: 214px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: var(--black-color);
    background-repeat: no-repeat;
    background-size: 164px 164px;
    background-position: top center;

    @include mobile {
      padding-top: 150px;
      background-size: 100px 100px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: var(--black-color);
  }

  &__name {
    margin: 0;
    margin-top: auto;
  }

  &__info {
    text-align: center;
  }

  &__text {
    margin: 0 auto 5px;
    max-width: 680px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: var(--black-color);

    @include mobile {
      max-width: 100%;
      font-size: 24px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 33px;

    .logo__image {
      margin: 0 auto;
    }
  }

  &__image {
    display: block;
    max-width: 268px;
    height: 292px;
    border: 1px solid var(--black-color);
  }

  .swiper {
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    max-width: 268px;
  }

  &__slider {
    max-width: 268px;
    transform: translateY(80px);

    @include mobile {
      transform: translateY(50px);
    }
  }
}
