.social {
  @include flex-all-center;

  &__item {
    @include mr(60px);
  }

  &__link {
    display: block;

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }
  }
}
