<section class="about">
  <div class="container">
    <h2 class="about__title title">Привет-привет!</h2>
    <p class="about__descr">SOULMATE - это бьюти пространство для смелых и ярких!</p>
    <div class="about__wrapper">
      <div class="about__content">
        <p class="about__slogan">Мы верим, что проявление себя и своей индивидуальности - смелое и классное приключение
          навстречу себе настоящему!</p>
        <p class="about__text">Обязательно приходи в гости,
          с нас - горячий шоколад, чипсы
          и авторские услуги!</p>
      </div>
      <picture>
        <source media="(min-width: 576px)" srcset="img/about-bg_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/about-bg.webp" type="image/webp">
        <source srcset="img/about-bg.webp" type="image/webp">
        <img loading="lazy" src="img/about-bg.png" srcset="img/about-bg_2x.png 2x" class="about__image" width="561"
          height="640" alt="Две девушки обнимаются и улыбаются">
      </picture>
    </div>
    <p class="about__waiting">ЖДЁМ ТЕБЯ НА идеальный МЭТЧ!</p>
  </div>
</section>
