<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <div class="benefits__decor">
      <picture>
        <source srcset="img/benefits-main-img.webp" type="image/webp">
        <img loading="lazy" src="img/benefits-main-img.png" class="benefits__image" width="1200" height="512" alt=""
          aria-hidden="true">
      </picture>
      <picture class="benefits__picture benefits__picture--one">
        <source srcset="img/benefits-decor1.webp" type="image/webp">
        <img loading="lazy" src="img/benefits-decor1.png" class="benefits__photo benefits__photo--one" width="276"
          height="276" alt="" aria-hidden="true">
      </picture>
      <picture class="benefits__picture benefits__picture--two">
        <source srcset="img/benefits-decor2.webp" type="image/webp">
        <img loading="lazy" src="img/benefits-decor2.png" class="benefits__photo benefits__photo--two" width="276"
          height="276" alt="" aria-hidden="true">
      </picture>
      <p class="benefits__text benefits__text--place">в самом центре
        города</p>
      <address class="benefits__text benefits__text--adress">Красный
        проспект,17</address>
    </div>
  </div>
</section>
