<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title title">Контакты</h2>
    <div class="contacts__top">
      <span class="contacts__location">Как найти наш локейшн?</span>
      <span class="contacts__sity">г.Новосибирск</span>
      <div class="contacts__connection">
        <a class="contacts__link" href="tel:89069076458">8 906-907-64-58</a>
        <button class="contacts__btn btn btn--fill btn--fill-yellow btn-reset"
          aria-label="Записаться">Записаться</button>
      </div>
    </div>
    <div class="contacts__info">
      <div class="contacts__left">
        <picture>
          <source media="(min-width: 576px)" srcset="img/contacts-img_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/contacts-img.webp" type="image/webp">
          <source srcset="img/contacts-img.webp" type="image/webp">
          <img loading="lazy" src="img/contacts-img.jpg" srcset="img/contacts-img__2x.jpg 2x" class="contacts__image"
            width="458" height="400" alt="" aria-hidden="true">
        </picture>
        <p class="contacts__street">ул. Красный проспект, 17</p>
      </div>
      <div class="contacts__right">
        <div class="contacts__map" id="map"></div>
        <p class="contacts__timetable">Время работы:
          <span class="contacts__days"> пн-вс, с 9.00 до 21.00</span>
        </p>
      </div>
    </div>
  </div>
</section>
