<footer class="footer">
  <div class="container">
    <a class="footer__logo logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="389" height="83" alt="SoulMate Логотип сайта">
    </a>
    <div class="footer__top">
      <small class="footer__copy">SoulMate (c) Все права защищены 2023</small>
      <nav class="footer__nav nav" aria-label="Дополнительное меню">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#about" data-scroll data-menu-item class="nav__link link">О нас</a></li>
          <li class="nav__item"><a href="#services" data-scroll data-menu-item class="nav__link link">Услуги</a></li>
          <li class="nav__item"><a href="#promotions" data-scroll data-menu-item class="nav__link link">Акции</a></li>
          <li class="nav__item"><a href="#contacts" data-scroll data-menu-item class="nav__link link">Контакты</a>
          </li>
        </ul>
      </nav>
      <p class="footer__timetable">Время работы:
        <span class="footer__days"> пн-вс, с 9.00 до 21.00</span>
      </p>
    </div>
    <form class="footer__form">
      <ul class="social list-reset">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-1.svg" class="social__image" width="224" height="56"
              alt="Логотип Flamp">
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-2.svg" class="social__image" width="225" height="56"
              alt="Логотип 2Гис">
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-3.svg" class="social__image" width="116" height="45"
              alt="Логотип Яндекс">
          </a>
        </li>
      </ul>
      <div class="footer__form-content">
        <p class="footer__form-descr">Подпишись на нашу рассылку и узнавай первым об акциях и спецпредложениях!</p>
        <div class="footer__form-wrapper">
          <label class="footer__form-field">
            <input class="footer__form-input input-reset" type="email" placeholder="Ваш Email">
          </label>
          <button class="footer__form-btn btn btn--fill btn--fill-accent btn-reset" type="submit"
            aria-label="Подписаться">Подписаться</button>
        </div>
      </div>
    </form>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
