<section class="franchise" id="franchise">
  <div class="container">
    <h2 class="franchise__title" data-aos="fade-left" data-aos-delay="200">Франшиза уникального бьюти-пространства</h2>
    <a class="franchise__logo logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="389" height="83" alt="SoulMate Логотип сайта">
    </a>
    <picture>
      <source media="(min-width: 576px)" srcset="img/franchise-img_2x.webp 2x" type="image/webp">
      <source media="(max-width: 575px)" srcset="img/franchise-img.webp" type="image/webp">
      <source srcset="img/franchise-img.webp" type="image/webp">
      <img loading="lazy" src="img/franchise-img.jpg" srcset="img/franchise-img__2x.jpg 2x" class="franchise__image"
        width="1420" height="947" alt="Счастливая обладательница франшизы SoulMate отмечает день открытия нового офиса">
    </picture>
    <p class="franchise__descr">Стань успешной  хозяйкой собственной студии
      красоты и зарабатывай от 400 000 р.</p>
    <button class="franchise__btn btn btn--fill btn--fill-accent btn-reset" aria-label="Получить презентацию бизнеса"
      type="button">Получить презентацию бизнеса</button>
  </div>
</section>
