<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Маникюр в Новосибирске - SoulMate - трендовый маникюр в центре города</title>
  <meta name="description" content="SoulMate – идеальный мэтч для вашего стильного маникюра в самом центре Новосибирска! Мы предлагаем широкий
    спектр услуг: маникюр, педикюр, оформление и окрашивание бровей, мейк, наращивание ногтей, стрижки и окрашивания.
    Приходите в наше бьюти пространство, где вас ждут горячий шоколад, чипсы и авторские услуги. Наши профессионалы
    помогут вам выразить свою индивидуальность и создать трендовый образ.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://vetosy.github.io/SoulMate/">
  <meta property="og:title" content="Маникюр в Новосибирске — SoulMate — трендовый маникюр в центре города" />
  <meta property="og:description" content="SoulMate – идеальный мэтч для вашего стильного маникюра в самом центре Новосибирска! Мы предлагаем широкий
    спектр услуг: маникюр, педикюр, оформление и окрашивание бровей, мейк, наращивание ногтей, стрижки и окрашивания.
    Приходите в наше бьюти пространство, где вас ждут горячий шоколад, чипсы и авторские услуги. Наши профессионалы
    помогут вам выразить свою индивидуальность и создать трендовый образ.">
  <meta property="og:image" content="https://metatags.io/images/meta-tags.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://vetosy.github.io/SoulMate/">
  <meta property="twitter:title" content="Маникюр в Новосибирске — SoulMate — трендовый маникюр в центре города" />
  <meta property="twitter:description" content="SoulMate – идеальный мэтч для вашего стильного маникюра в самом центре Новосибирска! Мы предлагаем широкий
    спектр услуг: маникюр, педикюр, оформление и окрашивание бровей, мейк, наращивание ногтей, стрижки и окрашивания.
    Приходите в наше бьюти пространство, где вас ждут горячий шоколад, чипсы и авторские услуги. Наши профессионалы
    помогут вам выразить свою индивидуальность и создать трендовый образ.">
  <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png">
  <meta name="keywords" content="маникюр, педикюр, брови, оформление бровей, окрашивание бровей, мейк, наращивание ногтей, стрижки,
    окрашивания, SoulMate, Новосибирск, трендовый маникюр">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Vetos">
  <link rel="preload" href="fonts/RalewayRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewayMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewayBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewayBlack.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=536bae2e-2aa2-438c-9e96-9bc55085680b&lang=ru_RU"></script>
  <script defer src="js/main.js"></script>
</head>
