<section class="hero" style="background-image:url(img/hero-bg.webp);">
  <div class="container">
    <div class="hero__content" data-aos="fade-up" data-aos-delay="400">
      ТВОЙ
      <span class="hero__text-stroke">ИДЕАЛЬНЫЙ</span>
      <div class="hero__content-bottom">
        МЭТЧ
        <button class="hero__btn btn btn--fill btn--fill-yellow btn-reset" type="button"
          aria-label="Записаться к нам на прием">Записаться</button>
      </div>
    </div>
    <h1 class="hero__title" data-aos="fade-up" data-aos-delay="600">Делаем трендовый маник
      в самом центре Новосибирска!</h1>
  </div>
</section>
