<section class="hero">
  <div class="container">
    <div class="hero__content content">
      <span class="content__text">ТВОЙ</span>
      <span class="content__text content__text--stroke">ИДЕАЛЬНЫЙ</span>
      <div class="content__bottom">
        <span class="content__text">МЭТЧ</span>
        <button class="content__btn btn btn--fill-yellow btn-reset">Записаться</button>
      </div>
    </div>
    <h1 class="hero__title">Делаем трендовый маник
      в самом центре Новосибирска!</h1>
  </div>
</section>
