<section class="hero">
  <div class="container">
    <div class="hero__content slogan">
      <span class="slogan__text">ТВОЙ</span>
      <span class="slogan__text slogan__text--stroke">ИДЕАЛЬНЫЙ</span>
      <div class="slogan__bottom">
        <span class="slogan__text">МЭТЧ</span>
        <button class="slogan__btn btn btn--fill-yellow btn-reset">Записаться</button>
      </div>
    </div>
    <h1 class="hero__title">Делаем трендовый маник
      в самом центре Новосибирска!</h1>
  </div>
</section>
