<section class="promotions" id="promotions">
  <div class="container">
    <h2 class="promotions__title title" data-aos="fade-left" data-aos-delay="200">Акции</h2>
    <div class="promotions__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="promotions__link" href="#">
            <div class="promotions__wrapper">
              <picture>
                <source srcset="img/promotions-1.webp" type="image/webp">
                <img loading="lazy" src="img/promotions-1.jpg" class="promotions__image" width="460" height="400"
                  alt="Маникюрный лак ZOYA Pia">
              </picture>
              <div class="promotions__content">
                <h3 class="promotions__subtitle">Акция 1</h3>
                <p class="promotions__descr">Описание описание описание Описание описание описаниеОписание описание
                  описаниеОписание описание описание </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="promotions__link" href="#">
            <div class="promotions__wrapper">
              <picture>
                <source srcset="img/promotions-2.webp" type="image/webp">
                <img loading="lazy" src="img/promotions-2.jpg" class="promotions__image" width="460" height="400"
                  alt="Маникюрный лак ZOYA Nova">
              </picture>
              <div class="promotions__content">
                <h3 class="promotions__subtitle">Акция 2</h3>
                <p class="promotions__descr">Описание описание описание Описание описание описаниеОписание описание
                  описаниеОписание описание описание </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="promotions__link" href="#">
            <div class="promotions__wrapper">
              <picture>
                <source srcset="img/promotions-3.webp" type="image/webp">
                <img loading="lazy" src="img/promotions-3.jpg" class="promotions__image" width="460" height="400"
                  alt="NAKED Ultra Glossy Seal - ультра- глянцевое верхнее покрытие">
              </picture>
              <div class="promotions__content">
                <h3 class="promotions__subtitle">Акция 3</h3>
                <p class="promotions__descr">Описание описание описание Описание описание описаниеОписание описание
                  описаниеОписание описание описание </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="promotions__link" href="#">
            <div class="promotions__wrapper">
              <picture>
                <source srcset="img/promotions-4.webp" type="image/webp">
                <img loading="lazy" src="img/promotions-4.jpg" class="promotions__image" width="460" height="400"
                  alt="Qtica Callus Gone - гель от натоптышей и удаления огрубевшей кожи">
              </picture>
              <div class="promotions__content">
                <h3 class="promotions__subtitle">Акция 4</h3>
                <p class="promotions__descr">Описание описание описание Описание описание описаниеОписание описание
                  описаниеОписание описание описание </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="promotions__link" href="#">
            <div class="promotions__wrapper">
              <picture>
                <source srcset="img/promotions-2.webp" type="image/webp">
                <img loading="lazy" src="img/promotions-2.jpg" class="promotions__image" width="460" height="400"
                  alt="Маникюрный лак ZOYA Nova">
              </picture>
              <div class="promotions__content">
                <h3 class="promotions__subtitle">Акция 5</h3>
                <p class="promotions__descr">Описание описание описание Описание описание описаниеОписание описание
                  описаниеОписание описание описание </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="promotions__pag swiper-pagination"></div>
    </div>
    <div class="promotions__btns">
      <button class="promotions__btn promotions__btn--prev btn-reset" type="button" aria-label="Предыдущий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="promotions__btn promotions__btn--next btn-reset" type="button" aria-label="Следующий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
