<section class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Отзывы</h2>
    <ul class="reviews__list list-reset">
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры.</p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum
            великое множество, однако все они имеют один существенный недостатоквцвй великое множество, однако все они
            имеют один существенный недостатоквцвй</p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Прародителем текста-рыбы является известный "Lorem Ipsum" —
            латинский текст, ноги которого растут аж из 45 года до нашей эры. </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum
            великое множество, однако все они имеют один существенный </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
    </ul>
    <p class="reviews__text"></p>
    <a class="reviews__logo logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="221" height="47" alt="SoulMate Логотип сайта">
    </a>
    <ul class="reviews__social list-reset">
      <li class="reviews__socia-item"></li>
      <li class="reviews__socia-item"></li>
      <li class="reviews__socia-item"></li>
    </ul>
  </div>
  <div class="reviews__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>А
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
