<section class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Отзывы</h2>
    <ul class="reviews__list list-reset grid">
      <li class="reviews__item">
        <div class="reviews__content reviews__content--one">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры.</p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content reviews__content--two">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum
            великое множество, однако все они имеют один существенный недостатоквцвй великое множество, однако все они
            имеют один существенный недостатоквцвй</p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content reviews__content--three">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content reviews__content--four">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Прародителем текста-рыбы является известный "Lorem Ipsum" —
            латинский текст, ноги которого растут аж из 45 года до нашей эры.</p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content reviews__content--five">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__content reviews__content--six">
          <p class="reviews__descr">Прародителем текста-рыбы является известный "Lorem Ipsum" — латинский текст, ноги
            которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum
            великое множество, однако все они имеют один существенный </p>
          <span class="reviews__name">Евгения</span>
        </div>
      </li>
    </ul>
    <div class="reviews__info">
      <p class="reviews__text">Помоги нам стать еще лучше!
        Расскажи о своем опыте посещения</p>
      <a class="reviews__logo logo">
        <img loading="lazy" src="img/logo.svg" class="logo__image" width="389" height="83" alt="SoulMate Логотип сайта">
      </a>
      <ul class="reviews__social list-reset">
        <li class="reviews__social-item">
          <a class="reviews__social-link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-1.svg" class="reviews__social-image" width="224" height="56"
              alt="Логотип Flamp">
          </a>
        </li>
        <li class="reviews__social-item">
          <a class="reviews__social-link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-2.svg" class="reviews__social-image" width="225" height="56"
              alt="Логотип 2Гис">
          </a>
        </li>
        <li class="reviews__social-item">
          <a class="reviews__social-link" href="#" target="_blank">
            <img loading="lazy" src="img/reviews-social-3.svg" class="reviews__social-image" width="116" height="45"
              alt="Логотип Яндекс">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="reviews__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-1.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-2.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-2.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-3.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-3.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-4.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-4.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-5.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-5.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-4.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-4.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="img/reviews-img-4.webp" type="image/webp">
          <img loading="lazy" src="img/reviews-img-4.jpg" class="reviews__image" width="268" height="292" alt=""
            aria-hidden="true">
        </picture>
      </div>
    </div>
  </div>
</section>
