:root {
  // base
  --font-family: "Raleway", sans-serif;
  --content-width: 1420px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #ffffff;
  --wildsand-color: #f5f5f5;
  --black-color: #000000;
  --scorpion-color: #5a5a5a;
  --accent-color: #ff87b4;
  --dolly-color: #ebff82;
}
